<div class="grid">

    <header>
        <div class="section">
            <p id="title"><i class="fas fa-hamburger" type="submit" id="devourBurger"></i> E A T - D A - B U R G E R <i
                    class="fas fa-hamburger" type="submit" id="devourBurger"></i></p>

            <p>_ __ __________________________________________________ __ _</p>
        </div>
    </header>





    <aside class="sidebar-left">
        <div class="section">
            <h3 id="burger-list">YOUR BURGERS</h3>
            <p>_ ______________ _</p>
            <br>
            <ul class="list-group">
                <span>
                    {{#each burgers}}
                    {{#unless this.devoured}}

                    <li>
                        <i class="fas fa-hamburger" id="devourBurger"></i> {{name}}

                        <button class="change-burger" data-id="{{id}}" data-devoured="{{devour}}">
                            {{!-- Devour it! --}}
                            <img src="assets/images/knifefork.png" id="knife-fork">
                        </button>
                    </li>
                    {{!-- <li class="list-group-item">

                <p>{{this.name}}</p>


                <form action="api/burgers/devoured/{{this.id}}?_method=PUT" method="POST">

                    <input type="hidden" name="devoured" value="true">
                    <button ><i class="fas fa-hamburger" id="devourBurger"></i> Devour it!</button>
                    
                </form>

            </li> --}}
                    {{/unless}}
                    {{/each}}
                </span>
            </ul>
        </div>
    </aside>

    <article>
        <div class="section">
            <h3 id="burger-list">CREATE A BURGER</h3>
            <p>_ __________________ _</p>
            <img src="assets/images/bwburger.png" id="burger-logo">
            <form action="api/burgers" method="POST">
                <input type="text" id="name" name="name" placeholder="Create Your Burger Here">
                <button type="submit" class="addBurger">Add it!</button>
            </form>
        </div>
    </article>


    <aside class="sidebar-right">
        <div class="section">
            <h3 id="burger-list">DEVOURED BURGERS</h3>
            <p>_ ____________________ _</p>
            <br>
            <ul class="list-group">
                {{#each burgers}}
                {{#if this.devoured}}

                <li>
                        <i class="fas fa-hamburger" id="delete-burger"></i> {{name}}

                        <button class="delete-burger" data-id="{{this.id}}">I'm Full!</button>
                    </li>

                {{!-- <li class="list-group-item">
                    <p>{{this.name}}</p>
                </li> --}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </aside>

    <footer>
        <p><a href="/api/burgers">API Burgers</a> | <a href="https://github.com/n8benzor/burger">GitHub Repo</a></p>
    </footer>

</div>